<div id="125-95-175-217"
     style="height: <%= params[:h] %>px; width: <%= params[:w] %>px; left: <%= params[:l] %>px; top: <%= params[:t] %>px; position: absolute; "
     class="lozenge">
  <img src="/assets/x.png" style="height: 10px; width: 10px; " class="close-x-icon">
  <input id="125-95-175-217-p" value="<%= @entry %>">
  <input id="125-95-175-217-t">
</div>