<h1>Day Calendar</h1>

<p>Sorry, but this is totally non-accessible. That's going to be a challenge.</p>

<% slotId = 0 %>

<div id="calendar">
  <div class="title rail">Time</div>
  <% DayHelper::DayNames.each do |d| %>
    <div class="<%= d %> title"><%= d %></div>
  <% end %>
  <% (0..24).to_a.each do |i| %>
    <div class="slot rail">
      <%= i/2+7 %>:<%= if i%2 == 0
                          "00"
                        else
                          "30"
                        end %>
    </div>
    <% DayHelper::DayNames.each do |d| %>
      <div id="<%= d.downcase+i.to_s %>" class="slot <%= d.downcase %>"></div>
    <% end %>
  <% end %>
</div>

<input type="hidden" value="0" id="xStart"/>
<input type="hidden" value="0" id="yStart"/>
<input type="hidden" value="0" id="xEnd"/>
<input type="hidden" value="0" id="yEnd"/>

<h2>Instructions</h2>
<p>
  Click and drag a region of the calendar to create a time block. You can only do positive x/y regions... It's just a
  demonstrator, so you can probably break it. Also, if you're using older versions of Internet Explorer: I am not supporting your browser.
  Nor am I ever likely to. Also, I've not optimised this for touch devices (iOS/Android) either...
</p>
<p>
  Clicking on the <img src="/assets/x.png" alt="x icon"/> will delete the time entry.
</p>

<p>
  You can see the code here: <a href="https://github.com/xmjw/DayCalendar">https://github.com/xmjw/DayCalendar</a>
</p>